{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparanding</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
</head>
<body>
    <label for="query_to_search"><h1>Buscar un producto</h1></label>
    <form action="{% url "comparator:search" %}" method="POST">
        {% csrf_token %}
        <div class="search_bar">
            <input
                id="query_to_search"
                class="to_search"
                type="text"
                name="query_to_search"
                placeholder="Ingresa tu búsqueda">
            {% comment %} <input id="button_search" type="submit" value="Buscar"> {% endcomment %}
            <button id="button_search"class="to_search" type="submit">
                <img src="{% static "images/icon_Search.ico" %}" width="25px" alt="Buscar">
            </button>
        </div>
    </form>
</body>
</html>

